{% autoescape false %}
{% import "import.twig.html" as imports %}
<div class="row margin-0 padding-0">
	<div class="col s12 l3 {{ theme.color.primary }} darken-4 padding-0">
		<ul class="collapsible margin-0" data-collapsible="accordion">
			{% for menu in sidebar.menus %}
			<li>
				{% if menu.more %}
				<div class="collapsible-header {% if menu.active %} active {% endif %} {{ theme.color.text }}-text ">{% if menu.icon %}{{ imports.icon(menu.icon) }}{% endif %} {{ menu.heading }}</div>
				<div class="collapsible-body">
					<div class="collection">
					{% for m in menu.more %}
						<a href="{{ m.link }}" class="collection-item {% if m.active %} active {% endif %}  {{ theme.color.text }}-text">{{ m.heading }}</a>
					{% endfor %}
					</div>
				</div>
				{% else %}
				<a href="{{ menu.link }}" class="collapsible-header {% if menu.active %} active {% endif %} {{ theme.color.text }}-text ">{% if menu.icon %}{{ imports.icon(menu.icon) }}{% endif %} {{ menu.heading }}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col s12 l9">
		{{ context.content }}
	</div>
</div>
{% endautoescape %}
