.htaccess
desktop.ini
.debris/
~$Buffer/
SETUP/
environments/url.json
environments/environments.json
environments/system/config/
environments/www/www.json
environments/www/configurations/
environments/maple/~$Debug/
environments/maple/config.php
environments/cms/configurations/
environments/cms/cache/
environments/cms/configurations.php

cms-content/
app-content/
maple-content/
www-content/
data/*

!data/.htaccess
