{# Icon #}
{% macro icon(name,class,attrs) %}
	{% if name %}
		{% set icons = {
			"login":"account_circle",
			"key":"vpn_key",
			"shield":"verified_user",
			"person":"perm_identity",
			"all" : "list",
			"group-add":"group_add",
			"user-add":"person_add"
		} %}
		{% if icons[name] %}{% set name = icons[name] %}{% endif %}
		<i class="material-icons {{ class }}"{% for attr,val in attrs %} {{ attr }}="{{ val }}" {% endfor %}>{{ name|replace({'-':'_'}) }}</i>
	{% endif %}
{% endmacro %}

{# Page Title #}
	{% macro page_title(size,title,color,class) %}
	{% if size<1 and size>6 %} {% set size = 5 %} {% endif %}
	<h{{ size }} class="header {{ color }}-text {{ class }}">{{ title|raw }}</h{{ size }}>
{% endmacro %}

{# Notice : Notice me Senpai! #}
{% macro notice(m) %}
	{% import _self as this %}
	{% if m.type == "success" %} {% set color = "green" %}
	{% elseif m.type == "error" %} {% set color = "	 red" %}
	{% elseif m.type == "warning" %} {% set color = "orange" %}
	{% else %} {% set color = "indigo" %}
	{% endif %}
	<div class="card" style="margin: 5 0 0 2;border-left: 5px solid {{ color }} ;">
		<div class="card-content" style="padding: 10">
			{% if m.icon %}{{ this.icon(m.icon,color~"-text left") }}{% endif %}
			{% if m.title %}<p><strong>{{ m.title|raw }}</strong></p>{% endif %}
			{% if m.message %}<p>{{ m.message|raw }}</p>{% endif %}
		</div>
	</div>
{% endmacro %}


{# Input - Normal #}
{% macro input(args) %}
	{% import _self as this %}
	{% set id = args.id?:random() %}
	<div class="input-field {{ args.size?"col" }} {% for _size in args.size %} {{ _size }}{% endfor %}{% for _offset in args.offset %} offset-{{ _offset }}{% endfor %} {% for _class in args.class %}{{ _class }} {% endfor %}">
		{% if args.icon %}{{ this.icon(args.icon,"prefix") }}{% endif %}
		{% block input %}
		<input id="{{ id }}" {% if args.name %}name="{{ args.name }}"{% endif %} type={{ args.type|default("text") }} {% for attr,val in args.arg %} {{ attr }}="{{ val }}" {% endfor %} {% if args.required %}required="true"{% endif %} {% if args.autofocus %}autofocus="true"{% endif %} {% if args.disabled %}disabled="true"{% endif %} {% if args.hidden %}hidden="true"{% endif %} {% if args.value %}value={{ args.value }}{% endif %}>
		{% endblock %}
		{% if args.label %}<label for="{{ id }}">{{ args.label }}</label>{% endif %}
	</div>
{% endmacro %}

{# Switch #}
{% macro switch(args) %}
	{% import _self as this %}
	<div class="switch {{ args.size?"col" }} {% for _size in args.size %} {{ _size }}{% endfor %}{% for _offset in args.offset %} offset-{{ _offset }}{% endfor %}" style="margin-bottom:10px">
		{% set id = args.id?:random() %}
		{% set side = args.side?:"right" %}
		{% if args.label %}<label for="{{ id }}" class=" {{ args.color|default("black") }}-text" style="font-size:initial;margin-left:15px">{% if args.icon %}{{ this.icon(args.icon,"prefix") }}{% endif %}{{ args.label }}</label>{% endif %}
		<label class="{{ side }}">
			{% if args["pre-label"] %}{{ args["pre-label"] }}{% endif %}
			<input type="checkbox" id="{{ id }}" {% if args.name %}name="{{ args.name }}"{% endif %} {% for attr,val in args.arg %} {{ attr }}="{{ val }}" {% endfor %} {% if args.required %}required="true"{% endif %} autofocus="{{ args.autofocus|default("false") }}" {% if args.disabled %}disabled="true"{% endif %} {% if args.active %}checked="true"{% endif %}>
			<span class="lever {{ color }}"></span>
			{% if args["post-label"] %}{{ args["post-label"] }}{% endif %}
		</label>
	</div>
{% endmacro %}

{# Button #}
{% macro button(args) %}
	{% spaceless %}
	{% import _self as this %}
	{% set tag = args.href?"a":"button" %}
	{% set id = args.id?:random() %}
	<{{ tag }} class="btn
	{{ args.size?"col" }} {% for _size in args.size %} {{ _size }}{% endfor %}{% for _offset in args.offset %} offset-{{ _offset }}{% endfor %}
	{% for c in args.class %}{{ c }} {% endfor %} {{ args.color }} {% if args.tooltip %}tooltipped{% endif %}" {% for attr,val in arg %}{{ attr }}="{{ val }}" {% endfor %}
		{% if args.tooltip %}
			data-position="{{ args.tooltip.position?:bottom }}"
			data-delay="{{ args.tooltip.delay?:50 }}"
			data-tooltip="{{ tooltip.text }}"
		{% endif %}
		id="{{ id }}"
		{% if args.name %}name="{{ args.name }}"{% endif %}
		{% if args.type %}type="{{ args.type }}"{% endif %}
		{% for attr,val in arg %}{{ attr }}="{{ val }}"{% endfor %}
		{% if args.required %}required="true"{% endif %}
		autofocus="{{ args.autofocus|default("false") }}"
		{% if args.disabled %}disabled="true"{% endif %}
	>
		{% if args.icon %}{{ this.icon(args.icon,args["icon-position"]|default("prefix")) }}{% endif %}
		{{ args.label|raw }}
	</{{ tag }}>
	{% endspaceless %}
{% endmacro %}


{# accordion #}
{% macro accordion(args) %}
	<ul class="collapsible {% for _class in args.class %}{{ _class }} {% endfor %}" data-collapsible="accordion"  {% for attr,val in args.attrs %}{{ attr }}="{{ val }}"{% endfor %} >
		{% for content in args.contents %}
		<li>
			<div class="collapsible-header {% for _class in content.heading_class %}{{ _class }} {% endfor %} {% if content.active %}active{% endif %}"  {% for attr,val in content.heading_attrs %}{{ attr }}="{{ val }}"{% endfor %} >{{ content.heading }}</div>
			{% if content.content %}
			<div class="collapsible-body {% for _class in content.content_class %}{{ _class }}{% endfor %}"  {% for attr,val in content.content_attrs %}{{ attr }}="{{ val }}"{% endfor %} >{{ content.content }}</div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
{% endmacro %}
