{% from "import.twig.html" import icon %}
{% autoescape false %}
<nav class="{{ class.navbar }}">
	<div class="nav-wrapper {{ color }} {{ class.wrapper }}">
		{% if brand_logo %}
		<a href="{{ brand_logo.src }}" class="brand-logo {{ align.brand_logo }}">{{ brand_logo.html }}</a>
		{% endif %}
		<a href="#" data-activates="navbar-content" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="{{ align.buttons }} hide-on-med-and-down">
			{% for button,attrs in buttons %}
			<li><a href="{{ attrs.link }}" {% for attr,val in attrs.args %}{{ attr }}="{{ val }}"{% endfor %} >{{ button }}</a></li>
			{% endfor %}
			{% for button,attrs in links %}
			<li><a href="{{ attrs.link }}" {% for attr,val in attrs.args %}{{ attr }}="{{ val }}"{% endfor %} >{{ icon(attrs.icon,"left") }}{{ button }}</a></li>
			{% endfor %}
		</ul>
		<ul class="side-nav" id="navbar-content">
			<li>
				<div class="userView">
					{% if sidebar.background %}
					<img class="background" src="{{ sidebar.background }}">
					{% endif %}
					<a href="{{ brand_logo.src }}"><span class="white-text name">{{ brand_logo.html }}</span></a>
				</div>
			</li>
			{% for button,attrs in buttons %}
			<li><a href="{{ attrs.link }}" {% for attr,val in attrs.args %}{{ attr }}="{{ val }}"{% endfor %} >{{ button }}</a></li>
			{% endfor %}
			{% for button,attrs in links %}
			<li><a href="{{ attrs.link }}" {% for attr,val in attrs.args %}{{ attr }}="{{ val }}"{% endfor %} >{{ icon(attrs.icon,"left") }}{{ button }}</a></li>
			{% endfor %}
			{{ sidebar.content }}
			{% block sidebar_list %} {% endblock sidebar_list %}
		</ul>
		{% block nav_lists %}{% endblock %}
		{{ html }}
	</div>
</nav>
{% endautoescape %}
