{% autoescape false %}
{% if data %}
<script type="text/javascript">
	$(window).ready(function(){
		if( typeof google == 'undefined'){
			$('#maple-chart-{{ id }}').text(" {{ data.options.title }} Charts Failed to load due to Poor Connection.");
			$('#maple-chart-{{ id }}').height('auto');			
		}
	});
	google.charts.setOnLoadCallback(drawChart{{ id }});
	function drawChart{{ id }}() {
		var data = google.visualization.arrayToDataTable({{ data.values }});
		var options = {{ data.options }};
		var chart = new google.visualization.{{ type }}(document.getElementById('maple-chart-{{ id }}'));
		chart.draw(data, options);
	}
</script>
{% endif %}
{% endautoescape %}