<div class="card">
	<div class="card-content">
		<h3 class="orange-text header"><i class="material-icons right medium">warning</i>Warning!</h3>
		<ul>
			<li>The plugin <strong>{{ name }}</strong> is missing permission.json file.<br>This means that you cannot restrict the access usage of the plugin and this plugin can be exploited.</li>
			<li>Please check with the author for the file permission.json.</li>
			<li>This will not cause any system malfunction </li>
		</ul>
		<a href="{{ maple.url.current }}" class="btn orange right">Okay</a>
		<br>
	</div>
</div>