<h3 class="header blue-text">Edit</h3>
<div class="card">
	<div class="card-content">
		<span class="card-title black-text">{{ plugin.name }}</span>
		<span class="grey-text"> {{ plugin.version }}</span><br>
		<span class="grey-text">by {{ plugin.author }}</span>
		<p>{{ plugin.description|raw }}</p>
	</div>
</div>
<h5 class="black-text">Plugins</h5>
<div class="row">
	{% for p in plugin.Maple.Admin.Plugin %}
	<div class="col s12 l6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">
					<i class="material-icons">{{ p.icon }}</i>
					 {{ p.Name }}
					<span class="grey-text small-text right">{{ p.Permission }}</span>
				</span>
				{% for m in p.More %}
				<li>
					{{ m.Name }}
					<span class="grey-text small-text right">{{ m.Permission }}</span>
				</li>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<h5 class="black-text">Permissions</h5>
<div class="card">
	<div class="card-content">
		<table>
			<thead>
				<th></th>
				<th>Default</th>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td><input type="checkbox" name="" checked="" id="123"><label for="123"></label></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>